# Android studio project file
RxLocation.iml
app/app.iml
rxlocation/rxlocation.iml
# Gradle files
/.gradle/
/build/

# idea folder
/.idea/

# Local configuration file (sdk path, etc)
/local.properties
